body {font-family: 'Lato', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif;}
.inner-section {padding: 100px 0;}
.section-head {font-size: 2.75em;text-align: center;text-transform: uppercase;font-weight: bold;}
.star-light {height: 5px;width: 200px;margin: 20px auto;position: relative;display: flex;justify-content: center;align-items: center;}
.star-light:after {content: '\f005';font-family: 'fontawesome';font-style: normal;font-weight: 400;line-height: 1;font-size: 30px;padding: 5px;}
.inner-section .star-light {margin-bottom: 50px;}
span.italic {font-style: italic;font-size: 14px;color: #999;}
.btn {border-radius: 0;font-weight: bold;}
.btn-outline {color: #fff;border: 1px solid #fff;padding: 10px 25px;font-size: 20px;background-color: transparent;margin-top: 20px;}
.btn-outline:hover {color: #fff;}
.no-padding {padding: 0 !important;}
/* Header Rules */
#top-header {position: fixed;top: 0;left: 0;right: 0;z-index: 9;-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);}
#top-header > nav {background-color: #2C3E50;border-radius: 0;padding: 25px 0;}
#top-header > nav .navbar-brand {color: #fff;text-transform: uppercase;font-size: 2em;font-weight: bold;font-family: 'Montserrat', sans-serif;}
#top-header > nav .navbar-nav > li > a {color: #fff;text-transform: uppercase;font-weight: bold;font-size: 14px;}
#top-header > nav .navbar-nav {float: right;margin-right: 20px;height: 50px;line-height: 35px;}
#top-header > nav form {margin: 8px 0;}
#top-header > nav form input {border-radius: 0;border: none;}
#top-header > nav form button {background-color: #18BC9C;color: #fff;border: none;border-radius: 0;font-weight: bold;}
#top-header > nav form button:hover {background-color: #1dd6b2;}
#top-header.short > nav {padding: 10px 0;}
#top-header.short > nav .navbar-brand {font-size: 1.5em;}
#top-header .navbar-toggler {float: right;}
/* Welcome Area */
#welcome-area {margin-top: 106px;height: calc(100vh - 106px);overflow: hidden;background-color: #18BC9C;}
#welcome-area .row > div {padding: 70px 15px;}
#welcome-area .row > div > img {display: block;margin: 0 auto;}
#welcome-area .row > div > .intro-text {text-align: center;color: #fff;margin-top: 20px;}
#welcome-area .row > div > .intro-text h1 {font-size: 3.5em;text-transform: uppercase;font-weight: bold;}
#welcome-area .row > div > .intro-text .star-light {background-color: #fff;}
#welcome-area .row > div > .intro-text .star-light:after {color: #fff;background-color: #18BC9C;}
#welcome-area .row > div > .intro-text .job-title {font-size: 1.75em;text-transform: capitalize;}
/* Portfolio Section */
#album .star-light {background-color: #2c3e50;}
#album .star-light:after {background-color: #fff;color: #2c3e50;}
#album .album-item .album-link {position: relative;display: block;}
#album .album-item .album-link .caption {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(24,188,165,.9);display: none;justify-content: center;align-items: center;}
#album .album-item .album-link .caption > i {font-size: 52px;color: #fff;}
#album .album-item .album-link:hover > .caption {display: flex;}
/* Modal */
.modal .modal-content {border-radius: 0;}
/* About Section */
#about {background-color: #18BC9C;color: #fff;}

section#about {
  background-color: #2c3e50;
}
#about .star-light {background-color: #fff;}
#about .star-light:after {background-color: #2c3e50;}
#about p {font-size: 20px;}

#blog {background-color: #18BC9C;color: #fff;}

section#blog {
  background-color: #2c3e50;
}
#blog .star-light {background-color: #fff;}
#blog .star-light:after {background-color: #2c3e50;}
#blog p {font-size: 20px;}
/* FAQS & Video Section */
#faq-slide .star-light {background-color: #2c3e50;}
#faq-slide .star-light:after {background-color: #fff;color: #2c3e50;}
#faq-slide .card {border-radius: 0;border-color: #18BC9C;}
#faq-slide .card .card-header {background-color: #18BC9C;border-radius: 0;}
#faq-slide .card .card-header a {color: #fff;}
#faq-slide .card .card-header a h5 {font-size: 16px;}
#faq-slide .card .card-header .tag {background-color: #fff;color: #18BC9C;}
#faq-slide .card .card-block {border-color: #18BC9C;}
/* Skills Section */
#skills {background-color: #f3f3f3;}
#skills .star-light {background-color: #2c3e50;}
#skills .star-light:after {background-color: #f3f3f3;color: #2c3e50;}
#skills .progress-title {font-size: 20px;color: #565656;margin-bottom: 5px;font-weight: bold;}
#skills .progress[value] {background-color: #fff;border-radius: 0;height: 20px;}
#skills .progress[value]::-webkit-progress-value {background-color: #18BC9C;border-radius: 0;height: 20px;}
#skills .progress[value]::-webkit-progress-bar {background-color: #fff;border-radius: 0;}
#skills .progress[value]::-moz-progress-bar {background-color: #fff;border-radius: 0;}
/* Price Section */
#price {background-color: #18BC9C;color: #fff;}
#price .star-light {background-color: #fff;}
#price .star-light:after {background-color: #18BC9C;color: #fff;}
#price .toggle-tables .button-tables {margin-bottom: 70px;}
#price .toggle-tables .button-tables .nav > li {float: none;display: inline-block;}
#price .toggle-tables .button-tables .nav > li a {margin: 0;padding: 5px 25px;}
#price .toggle-tables .button-tables .nav > li a.btn-outline {border-color: #128f76;color: #128f76;border-radius: 0;}
#price .toggle-tables .button-tables .nav > li a.btn-outline.active {background-color: #128f76;color: #fff;border-color: #128f76;box-shadow: none;}
#price .toggle-tables .button-tables .nav > li a.btn-outline:first-child {margin-right: -3.5px;}
#price .toggle-tables .button-tables .nav > li a.btn-outline:last-child {margin-left: -3.5px;}
#price .single-table table {background-color: #fff;color: #333;}
#price .single-table table thead th {text-align: center;padding: 25px;font-size: 1.75em;font-weight: bold;}
#price .single-table table tbody td {padding: 15px;}
#price .single-table table tbody td i {margin-right: 5px;color: #18BC9C;}
#price .single-table table tbody td i.fa-times {color: red;}
#price .single-table table tfoot td a {border-color: #18BC9C;color: #18BC9C;font-size: 18px;}
#price .single-table table tfoot td a:hover {background-color: #18BC9C;color: #fff;}
/* Contact Section */
#contact .star-light {background-color: #2c3e50;}
#contact .star-light:after {background-color: #fff;color: #2c3e50;}
#contact form .input-control {border-radius: 0;height: 80px;border-width: 0 0 1px;font-size: 20px;border-color: #f4f4f4;}
#contact form .form-group:first-child .input-control {border-top-width: 1px;}
#contact form textarea.input-control {height: 160px;}
#contact form .form-group {margin: 0;}
#contact form button[type="submit"] {margin-top: 15px;background-color: #18BC9C;border-color: #18BC9C;color: #fff;font-size: 20px;padding: 5px 25px;}
#contact form button[type="submit"]:hover {background-color: #128f76;border-color: #128f76;}
/* Start Footer */
#bottom-footer {color: #fff;text-align: center;}
#bottom-footer .footer-above {background-color: #2c3e50;padding: 50px 0;}
#bottom-footer .footer-above h3 {font-weight: bold;text-transform: uppercase;margin-bottom: 30px;}
#bottom-footer .footer-above p {font-size: 20px;margin: 0;}
#bottom-footer .footer-above p a {color: #18BC9C;}
#bottom-footer .footer-above ul {margin: 0;padding: 0;}
#bottom-footer .footer-above ul li {display: inline-block;margin-right: 5px;}
#bottom-footer .footer-above ul li a {color: #fff;display: inline-block;line-height: 45px;height: 50px;width: 50px;font-size: 20px;text-align: center;border-radius: 100%;border: 2px solid #fff;}
#bottom-footer .footer-above ul li a:hover {color: #18BC9C;background-color: #fff;}
#bottom-footer .footer-above ul li a i {line-height: 45px;}
#bottom-footer .footer-below {padding: 25px 0;background-color: #233140;}
#bottom-footer .footer-below .copy {margin: 0;font-size: 14px;}
/* media Responsive */
/* == Max - Width 1439 px == */
@media screen and (max-width: 1439px) {
  #welcome-area .row > div > .intro-text h1 {font-size: 2em;}
  #welcome-area .row > div > .intro-text .job-title {font-size: 1.25em;}
}
/* == Max - Width 1349 px == */
@media screen and (max-width: 1349px) {
  #welcome-area .row > div > img {width: 206px;height: 206px;}
}
/* == Max - Width 991 px == */
@media screen and (max-width: 991px) {
  #welcome-area {margin-top: 90px;height: calc(100vh - 90px);}
  #top-header > nav .navbar-nav {float: none;margin-right: 0;height: auto;line-height: inherit;}
  #bottom-footer .footer-above p {font-size: inherit;}
  #bottom-footer .footer-above ul li a {line-height: 35px;height: 40px;width: 40px;}
  #bottom-footer .footer-above ul li a i {line-height: 35px;font-size: 14px;}
  #bottom-footer .footer-above h3 {font-size: 1.5rem;}
}
/* == Max - Width 767 px == */
@media screen and (max-width: 767px) {
  #bottom-footer .footer-above .row > div {margin-bottom: 40px;padding-bottom: 40px;border-bottom: 1px solid #273746;}
  #bottom-footer .footer-above .row > div:last-child {padding-bottom: 0;margin-bottom: 0;border-bottom: none;}
}
/* == Max - Width 410 px == */
@media screen and (max-width: 410px) {
  #top-header > nav .navbar-brand {font-size: inherit;}
  #about p {font-size: 1rem;}
  #blog p {font-size: 1rem;}
}
/* == Max - Width 375 px == */
@media screen and (max-width: 375px) {
  .section-head {font-size: 2rem;}
}
/* == Max - Width 320 px == */
@media screen and (max-width: 320px) {
  #price .toggle-tables .button-tables .nav > li a.btn-outline {font-size: 1rem;}
}